.fresco-landing-page-final,
.fresco-landing-page-final * {
  box-sizing: border-box;
}
.fresco-landing-page-final {
  background: #ffffff;
  height: 4328px;
  position: relative;
  overflow: hidden;
}
.fresco-landing-page-final ._4th-section-background-gradient {
  width: 1440px;
  height: 765px;
  position: absolute;
  left: 0px;
  top: 2091px;
}
.fresco-landing-page-final .rectangle-29 {
  background: linear-gradient(
    180deg,
    rgba(24, 81, 57, 0.6) 9.13461521267891%,
    rgba(54, 183, 129, 0) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.fresco-landing-page-final ._2nd-section-background {
  width: 1440px;
  height: 536px;
  position: absolute;
  left: 0px;
  top: 825px;
}
.fresco-landing-page-final ._2nd-section-background2 {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px -10px 40px 10px rgba(0, 0, 0, 0.4);
}
.fresco-landing-page-final ._3rd-section-tob-backround {
  width: 1440px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: 1361px;
}
.fresco-landing-page-final .rectangle-27 {
  background: #91cea2;
  width: 100%;
  height: 100%;
  position: absolute;
  right: -100%;
  left: 100%;
  bottom: -100%;
  top: 100%;
  box-shadow: 0px 10px 40px 3px rgba(0, 0, 0, 0.4);
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
}
.fresco-landing-page-final .footer-section {
  width: 1440px;
  height: 326px;
  position: absolute;
  left: 0px;
  top: 4002px;
}
.fresco-landing-page-final .footer-section2 {
  background: #072422;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.fresco-landing-page-final ._3rd-section-button-1 {
  width: 500px;
  height: 280px;
  position: absolute;
  left: 163px;
  top: 1478px;
}
.fresco-landing-page-final .rectangle-25 {
  background: #072422;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.45);
}
.fresco-landing-page-final ._3rd-section-button-2 {
  width: 500px;
  height: 280px;
  position: absolute;
  left: 755px;
  top: 1479px;
}
.fresco-landing-page-final .rectangle-26 {
  background: #072422;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.45);
}
.fresco-landing-page-final ._4th-section-image-bg-3 {
  width: 266px;
  height: 266px;
  position: absolute;
  left: 170px;
  top: 2365px;
}
.fresco-landing-page-final .rectangle-31 {
  background: #072422;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.45);
}
.fresco-landing-page-final ._4th-section-image-bg-2 {
  width: 267px;
  height: 266px;
  position: absolute;
  left: 593px;
  top: 2365px;
}
.fresco-landing-page-final ._4th-section-image-bg-22 {
  background: #072422;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.45);
}
.fresco-landing-page-final ._4th-section-image-bg-1 {
  width: 266px;
  height: 266px;
  position: absolute;
  left: 1019px;
  top: 2365px;
}
.fresco-landing-page-final ._4th-section-image-bg-12 {
  background: #072422;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.45);
}
.fresco-landing-page-final .fresko-logo-transparent-footer {
  width: 148px;
  height: 148px;
  position: absolute;
  left: 171px;
  top: 4187px;
  aspect-ratio: 1;
}
.fresco-landing-page-final .fresko-logo-transparent-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final ._4th-section-header {
  width: 558px;
  height: 44px;
  position: absolute;
  left: 439px;
  top: 2158px;
}
.fresco-landing-page-final .fresco {
  color: #f6fcf2;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 36px;
  letter-spacing: 0.05em;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.fresco-landing-page-final ._5th-section-header {
  width: 383px;
  height: 44px;
  position: absolute;
  left: 521px;
  top: 2891px;
}
.fresco-landing-page-final .fresco2 {
  color: #072422;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 36px;
  letter-spacing: 0.05em;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.fresco-landing-page-final .div {
  width: 391px;
  height: 78px;
  position: absolute;
  left: 227px;
  top: 1806px;
}
.fresco-landing-page-final .div2 {
  color: #072422;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.fresco-landing-page-final .div3 {
  width: 391px;
  height: 54px;
  position: absolute;
  left: 100px;
  top: 2256px;
}
.fresco-landing-page-final .div4 {
  color: #072422;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 22px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.fresco-landing-page-final .div5 {
  width: 266px;
  height: 80px;
  position: absolute;
  left: 163px;
  top: 2683px;
}
.fresco-landing-page-final .div6 {
  color: #072422;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.fresco-landing-page-final .div7 {
  width: 266px;
  height: 80px;
  position: absolute;
  left: 587px;
  top: 2683px;
}
.fresco-landing-page-final .div8 {
  width: 281px;
  height: 100px;
  position: absolute;
  left: 1004px;
  top: 2683px;
}
.fresco-landing-page-final .div9 {
  width: 294px;
  height: 149px;
  position: absolute;
  left: 812px;
  top: 3116px;
}
.fresco-landing-page-final .div10 {
  color: #072422;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.fresco-landing-page-final .div11 {
  width: 473px;
  height: 115px;
  position: absolute;
  left: 907px;
  top: 2262px;
}
.fresco-landing-page-final .div12 {
  width: 473px;
  height: 115px;
  position: absolute;
  left: 481px;
  top: 2256px;
}
.fresco-landing-page-final .div13 {
  width: 473px;
  height: 115px;
  position: absolute;
  left: 654px;
  top: 3063px;
}
.fresco-landing-page-final .div14 {
  color: #072422;
  text-align: center;
  font-family: "Montserrat-ExtraBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 800;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.fresco-landing-page-final .div15 {
  width: 265px;
  height: 149px;
  position: absolute;
  left: 813px;
  top: 3354px;
}
.fresco-landing-page-final .div16 {
  width: 473px;
  height: 115px;
  position: absolute;
  left: 633px;
  top: 3301px;
}
.fresco-landing-page-final .div17 {
  width: 265px;
  height: 149px;
  position: absolute;
  left: 805px;
  top: 3599px;
}
.fresco-landing-page-final ._2-1-1 {
  width: 265px;
  height: 48px;
  position: absolute;
  left: 190px;
  top: 4118px;
}
.fresco-landing-page-final ._2-1-12 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.fresco-landing-page-final ._08-00-20-00 {
  width: 265px;
  height: 48px;
  position: absolute;
  left: 576px;
  top: 4118px;
}
.fresco-landing-page-final ._08-00-20-002 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.fresco-landing-page-final ._359-896-806-283-office-fresco-bg-com {
  width: 265px;
  height: 120px;
  position: absolute;
  left: 945px;
  top: 4094px;
}
.fresco-landing-page-final ._359-896-806-283-office-fresco-bg-com2 {
  color: #ffffff;
  text-align: right;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
._359-896-806-283-office-fresco-bg-com-2-span {
}
._359-896-806-283-office-fresco-bg-com-2-span2 {
  text-decoration: underline;
}
.fresco-landing-page-final .div18 {
  width: 473px;
  height: 115px;
  position: absolute;
  left: 639px;
  top: 3546px;
}
.fresco-landing-page-final .div19 {
  width: 473px;
  height: 22px;
  position: absolute;
  left: -4px;
  top: 4072px;
}
.fresco-landing-page-final .div20 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.fresco-landing-page-final .div21 {
  width: 473px;
  height: 22px;
  position: absolute;
  left: 483px;
  top: 4072px;
}
.fresco-landing-page-final .div22 {
  width: 473px;
  height: 22px;
  position: absolute;
  left: 913px;
  top: 4072px;
}
.fresco-landing-page-final .div23 {
  width: 352px;
  height: 78px;
  position: absolute;
  left: 838px;
  top: 1806px;
}
.fresco-landing-page-final .div24 {
  width: 223px;
  height: 27px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 878px;
}
.fresco-landing-page-final .div25 {
  color: #072422;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 22px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.fresco-landing-page-final .partner-dhl {
  width: 350px;
  height: 350px;
  position: absolute;
  left: 74px;
  top: 856px;
  overflow: visible;
  aspect-ratio: 1;
}
.fresco-landing-page-final .partner-sofiamed {
  width: 349px;
  height: 349px;
  position: absolute;
  left: 366px;
  top: 857px;
  aspect-ratio: 1;
}
.fresco-landing-page-final .fresco-partner-7-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final .partner-buss-cent-vitosha {
  width: 349px;
  height: 349px;
  position: absolute;
  left: 667px;
  top: 857px;
  aspect-ratio: 1;
}
.fresco-landing-page-final .fresco-partner-5-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final .partner-mondelez {
  width: 349px;
  height: 349px;
  position: absolute;
  left: 228px;
  top: 1031px;
  aspect-ratio: 1;
}
.fresco-landing-page-final .fresco-partner-6-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final .partner-fantastiko {
  width: 348px;
  height: 349px;
  position: absolute;
  left: 541px;
  top: 1032px;
  aspect-ratio: 348/349;
}
.fresco-landing-page-final .fresco-partner-4-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final .partner-athletic {
  width: 350px;
  height: 350px;
  position: absolute;
  left: 841px;
  top: 1048px;
  aspect-ratio: 1;
}
.fresco-landing-page-final .fresco-partner-3-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final .partner-playground {
  width: 350px;
  height: 350px;
  position: absolute;
  left: 1006px;
  top: 856px;
  aspect-ratio: 1;
}
.fresco-landing-page-final .fresco-partner-2-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final .main-service-icon-deep-clean {
  width: 317px;
  height: 317px;
  position: absolute;
  left: 261px;
  top: 1460px;
  aspect-ratio: 1;
}
.fresco-landing-page-final .fresco-icon-2-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final .main-service-icon-subscribtion-clean {
  width: 404px;
  height: 404px;
  position: absolute;
  left: 812px;
  top: 1410px;
  aspect-ratio: 1;
}
.fresco-landing-page-final .fresco-icon-1-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final .fresco-social-icon-instagram {
  width: 63px;
  height: 63px;
  position: absolute;
  left: 1147px;
  top: 4230px;
  aspect-ratio: 1;
}
.fresco-landing-page-final .fresco-social-icon-instagram2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final .fresco-social-icon-facebook {
  width: 63px;
  height: 63px;
  position: absolute;
  left: 1087px;
  top: 4231px;
  aspect-ratio: 1;
}
.fresco-landing-page-final .fresco-social-2-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final ._3rd-section-cta {
  width: 529px;
  height: 60px;
  position: absolute;
  left: 515px;
  top: 1943px;
}
.fresco-landing-page-final .rectangle-30 {
  background: #91cea2;
  border-radius: 2025px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.3);
}
.fresco-landing-page-final .div26 {
  color: #072422;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 16.64%;
  left: 14.37%;
  width: 69%;
  bottom: 25%;
  top: 26.67%;
  height: 48.33%;
}
.fresco-landing-page-final .arrow-1 {
  width: 3.25%;
  height: 0%;
  position: absolute;
  right: 9.5%;
  left: 87.25%;
  bottom: 48.33%;
  top: 51.67%;
  transform: translate(0px, -8.66px);
  overflow: visible;
}
.fresco-landing-page-final .background-hero-image {
  width: 1440px;
  height: 728px;
  position: absolute;
  left: 0px;
  top: 98px;
  aspect-ratio: 1440/728;
}
.fresco-landing-page-final .gemini-generated-image-uajt-15-uajt-15-uajt-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final .background-image-overlay {
  width: 1440px;
  height: 728px;
  position: absolute;
  left: 0px;
  top: 98px;
}
.fresco-landing-page-final .rectangle-19 {
  background: rgba(24, 81, 57, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.fresco-landing-page-final .gradient-overlay {
  width: 1069px;
  height: 728px;
  position: absolute;
  left: 0px;
  top: 98px;
}
.fresco-landing-page-final .rectangle-24 {
  background: linear-gradient(
    90deg,
    rgba(24, 81, 57, 0.6) 55.7692289352417%,
    rgba(54, 183, 129, 0) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.fresco-landing-page-final .hero-image {
  width: 724px;
  height: 811px;
  position: absolute;
  left: 710px;
  top: 14px;
  aspect-ratio: 724/811;
}
.fresco-landing-page-final ._54014137-519-e-4116-bd-83-5-ea-2-d-3-e-3-db-9-a-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final .top-section-menu-logo {
  width: 1440px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.fresco-landing-page-final .rectangle-4 {
  background: #092422;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 5px 40px 10px rgba(0, 0, 0, 0.4);
}
.fresco-landing-page-final ._5th-section-cta-instance {
  width: 19.79% !important;
  height: 60% !important;
  position: absolute !important;
  right: 3.54% !important;
  left: 76.67% !important;
  bottom: 20% !important;
  top: 20% !important;
}
.fresco-landing-page-final .fresko-logo-transparent-header {
  width: 286px;
  height: 286px;
  position: absolute;
  left: 19px;
  top: -85px;
  aspect-ratio: 1;
}
.fresco-landing-page-final .fresko-logo-transparent-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final .header {
  width: 659px;
  height: 85px;
  position: absolute;
  left: 116px;
  top: 213px;
}
.fresco-landing-page-final .div27 {
  color: #f6fcf2;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 70px;
  letter-spacing: 0.05em;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.fresco-landing-page-final .subheader {
  width: 607px;
  height: 176px;
  position: absolute;
  left: 120px;
  top: 332px;
}
.fresco-landing-page-final .fresco3 {
  color: #f6fcf2;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 36px;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.fresco-3-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.fresco-3-span2 {
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 500;
}
.fresco-landing-page-final ._18 {
  width: 340px;
  height: 44px;
  position: absolute;
  left: 135px;
  top: 683px;
}
.fresco-landing-page-final ._182 {
  color: #f6fcf2;
  text-align: left;
  font-family: "Montserrat-SemiBoldItalic", sans-serif;
  font-size: 36px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-style: italic;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.fresco-landing-page-final .cta-1-hero-section {
  width: 621px;
  height: 60px;
  position: absolute;
  left: 119px;
  top: 525px;
}
.fresco-landing-page-final .rectangle-7 {
  background: #91cea2;
  border-radius: 2025px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 3px 30px 3px rgba(0, 0, 0, 0.4);
}
.fresco-landing-page-final .div28 {
  color: #072422;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 23.67%;
  left: 21.9%;
  width: 54.43%;
  bottom: 26.67%;
  top: 25%;
  height: 48.33%;
}
.fresco-landing-page-final .arrow-3 {
  width: 2.09%;
  height: 0%;
  position: absolute;
  right: 16.75%;
  left: 81.16%;
  bottom: 50%;
  top: 50%;
  transform: translate(-2px, -8.66px);
  overflow: visible;
}
.fresco-landing-page-final ._5th-section-cta {
  width: 285px;
  height: 60px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 3821px;
}
.fresco-landing-page-final .rectangle-34 {
  background: #91cea2;
  border-radius: 2025px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.3);
}
.fresco-landing-page-final .div29 {
  color: #072422;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 13.25%;
  left: 14.5%;
  width: 72.25%;
  bottom: 23.33%;
  top: 28.33%;
  height: 48.33%;
}
.fresco-landing-page-final .arrow-2 {
  width: 3.25%;
  height: 0%;
  position: absolute;
  right: 8.75%;
  left: 88%;
  bottom: 48.33%;
  top: 51.67%;
  transform: translate(-5.74px, -8.66px);
  overflow: visible;
}
.fresco-landing-page-final ._4th-section-img-3 {
  width: 262px;
  height: 266px;
  position: absolute;
  left: 1006px;
  top: 2350px;
  aspect-ratio: 262/266;
}
.fresco-landing-page-final .gemini-generated-image-9-rrhgs-9-rrhgs-9-rrh-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final ._4th-section-img-1 {
  width: 265px;
  height: 266px;
  position: absolute;
  left: 156px;
  top: 2350px;
  aspect-ratio: 265/266;
}
.fresco-landing-page-final .gemini-generated-image-oaa-2-rroaa-2-rroaa-2-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final ._4th-section-img-2 {
  width: 266px;
  height: 266px;
  position: absolute;
  left: 580px;
  top: 2350px;
  aspect-ratio: 1;
}
.fresco-landing-page-final .gemini-generated-image-tkv-0-b-6-tkv-0-b-6-tkv-0-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final ._5th-section-icon-bg-1 {
  width: 161px;
  height: 161px;
  position: absolute;
  left: 400px;
  top: 3049px;
}
.fresco-landing-page-final .ellipse-1 {
  background: #072422;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.fresco-landing-page-final ._5th-section-icon-bg-2 {
  width: 161px;
  height: 160px;
  position: absolute;
  left: 400px;
  top: 3285px;
}
.fresco-landing-page-final .ellipse-2 {
  background: #072422;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.fresco-landing-page-final ._5th-section-icon-bg-3 {
  width: 161px;
  height: 161px;
  position: absolute;
  left: 400px;
  top: 3520px;
}
.fresco-landing-page-final .ellipse-3 {
  background: #072422;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.fresco-landing-page-final ._5th-section-document-icon {
  width: 145.62px;
  height: 139px;
  position: absolute;
  left: 408px;
  top: 3530px;
  aspect-ratio: 145.62/139;
}
.fresco-landing-page-final .document-fresco-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final ._5th-section-house-icon {
  width: 128px;
  height: 122px;
  position: absolute;
  left: 416px;
  top: 3301px;
  aspect-ratio: 128/122;
}
.fresco-landing-page-final .house-fresco-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final ._5th-section-phone-icon {
  width: 128px;
  height: 122px;
  position: absolute;
  left: 413px;
  top: 3069px;
  aspect-ratio: 128/122;
}
.fresco-landing-page-final .phone-fresco-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.fresco-landing-page-final .arrow-12 {
  width: 132px;
  height: 257px;
  position: absolute;
  left: 594px;
  top: 3122px;
  overflow: visible;
}
.fresco-landing-page-final .arrow-22 {
  width: 133px;
  height: 258px;
  position: absolute;
  left: 229px;
  top: 3368px;
  overflow: visible;
}
